html {
  background-color: #f2f5f7;
  text-decoration: #6a4315;
  font-size: 16px;
  font-weight: bold;
}

.page-body {
  background-color: #f2f5f7;
}

.text-center {
    text-align: center;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  width: 100;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.title-input {
  width: 1000px;
}

.logout-div {
  text-align: right;
  margin-right: 160px;
  text-decoration: #6a4315;
  font-family: Arial, Helvetica, sans-serif;
}

.primary-button {
  background-color: #2493df;
  border: none;
  color: white;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.primary-button:hover {
  background-color: #24abe2;
  color: white;
}

.page-title {
  font-family:cursive;
  font-weight: bold;
  text-decoration: #6a4315;
}

.nav-tabs-custom {
  font-weight: bold;
}

.orange-button {
  background-color: #fbb461;
  border: none;
  color: #6a4315;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.search-button {
  background-color: #fbb461;
  border: none;
  color: #6a4315;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  margin-left: -4px;
}

.error-message {
 color: red; 
}

.inline-button {
  display: inline;
}

.myprofile-button {
  background-color: #fbb461;
  border: none;
  color: #6a4315;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.myprofile-label {
  font-size: 30px;
}